@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
body {
  background-color: #ffffff;
  margin: 0;
  
}
* {
  font-family: "Inconsolata";
}

p,
h1,
span {
  font-weight: 400;
  color: black;
}
.h2 {
  text-align: center;
  font-size: 28px;
  padding: 1.5rem 0;
}
.view {
  padding: 0 4rem;
  margin-right: 30px;
}

.nav {
  display: flex;
  align-items: center;
  padding: 0 3rem;
  justify-content: space-between;
  background-color: #3b1342;
}

.nav-list {
  display: flex;
  list-style-type: none;
}

.nav-list a:hover {
  color: #BF557B;
  font-size: medium;
  background-color: #e88cfa;
}

.nav li a:active {
  color: #BF557B;
  font-weight: bold;
  font-size: medium;
  background-color: #25082b;
}

input[type="search"] {
  border-radius: 7px;
  padding: 1rem 0;
  padding-left: 2.4rem;
  color: #3b13427e;
  font-size: 15px;
  outline-color: #3b1342;
}
.search-div{
  align-self: center;
}

.card-container {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 20px;
}

.card {
  background-color: white;
  box-shadow: 2px 4px 26px rgba(0, 0, 0, 0.07);
  border-radius: 1rem;
}


.card:hover{
 
  background-color: #eef5fc;
  transition: 0.1s;
  border-radius: 10px;
  border-color: black;

}

.card:active{
  background-color: rgb(238, 226, 226);
}


.card a {
  color: black;
}
.card-image {
  border-radius: 4px;
  overflow: hidden;
}
.img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.card-title {
  font-weight: bolder;
  font-size: 20px;
  text-align: justify;
  padding: 10px 20px;
}

.card-text {
  text-align: justify;
  padding: 0 20px;
  font-size: 15px;
}
.card-span {
  font-size: 15px;
  font-weight: 500;
  color: #3b13427e;
}

.share {
  width: 30px;
  cursor: pointer;
}
.btn {
  background: #3b1342;
  padding: 1rem 2.4rem;
  text-align: center;
  border: none;
  font-size: 17px;
  border-radius: 7px;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
#load-more {
  margin: 2.5rem auto;
  outline-color: #3b1342;
  color: #ffffff;
}
.w-50 {
  width: 50%;
}
.w-70 {
  width: 70%;
}
.w-100 {
  width: 100%;
}
.block {
  display: block;
}
.flex {
  display: flex;
  align-items: center;
  padding: 0 20px;
  padding-top: 10px;
  justify-content: space-between;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0;
}

.social-media-layout {
  background-color: #fff;
  box-shadow: 2px 4px 26px rgba(0, 0, 0, 0.07);
  width: 100px;
  height: 270px;
  list-style-type: none;
  border-radius: 4px;
}

.social-media-layout li {
  align-items: center;
  align-content: center;
}

.social-media-layout li a {
  text-decoration: none;
  color: #373737c9;
}
.nav-features {
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  cursor: pointer;
  padding: 1rem 2rem;
  color: white;
}

.logo-div {
  width: 10rem;
}
.logo {
  width: 100%;
  object-fit: cover;
}

.search {
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
}

.banner {
  background-image: url("./assets/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 85vh;
}

.banner h1 {
  width: 50%;
  font-weight: 700;
  color: seashell;
  text-align: center;
  margin: auto;
  font-size: 55px;
  padding: 35vh 0;
}
#search {
  cursor: pointer;
  position: relative;
  top: .5rem;
  left: 2.5rem;
  width: 25px;
}
